<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Adress Book</title>
</head>
<body>
    <div class='container'>

        <h1>Address Book</h1>
        {% if contacts is not empty %}
        <p>Here are all your contacts:</p>
            <ul>
                {% for contact in contacts %}
                <li>{{ contact.getName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/contacts' method='post'>
            <div class='form-group'>
            <label for='name'>Enter a Name</label>
            <input id='name' name='name' class='form-control' type='text'>
            </div>

            <button type='submit' class='btn-success'>Add Contact</button>
        </form>

        <form action='/delete_contacts' method='post'>
            <button type='submit' class='btn-danger'>Clear</button>
        </form>
    </div>
</body>
</html>
