<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Address Book</title>
</head>
<body>
    <div class='container'>

        <h1>You created a contact!</h1>

        <h4>{{ newcontact.getName }}</h4>
            <ul>
                <li>Phone: {{ newcontact.getPhone }}</li>
                <li>Address: {{ newcontact.getAddress }}</li>
            </ul>
        <br>
        <p><a href='/'>View your list of contacts.</a></p>
    </div>
</body>
</html>
